<%
/**
 * Copyright 2017 Nippon Information and Communication Corporation
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
%>
<!DOCTYPE html>
<html>
<%- include("../common/head"); %>
<body>
<%- include("../common/header",{ dir : [{ name: "ユーザ一覧", path: ""}]});%>
	<div class="container">

    <div class="page-header">
      <h2 class="text-primary">ユーザ一覧</h2>
      <h5 class="text-primary">ユーザを一覧で表示します</h5>
    </div>

		<div class="text-right">
			<ul class="pagination" style="margin-bottom: 10px;">
				<li>
					<a href="./list?p=1" aria-label="最初のページ"><span aria-hidden="true">«</span></a>
				</li>
				<% for(var i=page.first; i<=page.last; i++){ %>
					<% if(i == page.now){ %>
						<li class="active"><a href="./list?p=<%= i %>"><%= i %></a></li>
					<% } else { %>
						<li><a href="./list?p=<%= i %>"><%= i %></a></li>
					<% } %>
				<% } %>
				<li>
					<a href="./list?p=<%= page.max %>" aria-label="最後のページ"><span aria-hidden="true">»</span></a>
				</li>
			</ul>
		</div>

		<table class="table table-condensed table-bordered" id="myTable" style="table-layout:fixed;">
      <thead>
        <tr class="info">
          <th>ユーザID</th>
          <th>ユーザ名</th>
          <th>一般/管理者</th>
					<th style="min-width:100px;max-width:200px;"></th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<body.length;i++){ %>
        <tr>
          <td><%= body[i]['user_id'] %></td>
          <td><%= body[i]['user_name'] %></td>
          <td><% if(body[i]['admin_flag'] == 0){ %>一般<% }else if(body[i]['admin_flag'] == 1){ %>管理者<% }else{ %>-<% } %></td>
					<td>
						<button type="button" class="btn btn-info" onClick="location.href = '/user/edit/<%= body[i]['user_id']; %>'">編集</button>
            <button type="button" class="btn btn-warning" onClick="location.href = '/user/change_password/<%= body[i]['user_id']; %>'">パスワード変更</button>
						<button type="button" class="btn btn-danger" onClick="userDelete(<%= body[i]['user_id'] %>);">削除</button>
					</td>
        </tr>
        <% } %>
      </tbody>
    </table>
		<form method="POST" action="/user/delete">
			<input type="hidden" name="id" value="">
		</form>

		<div class="text-right">
			<ul class="pagination" style="margin-top: 10px;">
				<li>
					<a href="./list?p=1" aria-label="最初のページ"><span aria-hidden="true">«</span></a>
				</li>
				<% for(var i=page.first; i<=page.last; i++){ %>
					<% if(i == page.now){ %>
						<li class="active"><a href="./list?p=<%= i %>"><%= i %></a></li>
					<% } else { %>
						<li><a href="./list?p=<%= i %>"><%= i %></a></li>
					<% } %>
				<% } %>
				<li>
					<a href="./list?p=<%= page.max %>" aria-label="最後のページ"><span aria-hidden="true">»</span></a>
				</li>
			</ul>
		</div>

  </div>
	<script>
		function userDelete(id){
			$form = $("form");
			$("input[name=id]",$form).val(id);
			$form.submit();
		}
	</script>
<%- include("../common/footer"); %>
</body>
</html>
